<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <title>Actors</title>
	    <link rel="stylesheet" href="/index.css">

	  </head>

	  <body>
	    <h2> Actors </h2>
	        <ul>
            <% @actors.each do |actor| %>
	            <li>
	              <a href="/actors/<%= actor.id %>"><%= actor.name %></a>
	            </li>
    	      <% end %>
	        </ul>
	  </body>
	</html>
